<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cad</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 25rem;
            line-height: 2rem;
        }
    </style>
</head>
<body>
    <h1>Edição de registro</h1>
    <% if(aluno.length > 0){ %>
        <% aluno.forEach(alu => {%>
            <!-- o '?_method=<nome do método http>' é uma adaptação para o formulário poder receber a edição-->
            <form action="/alunos/editarAluno/<%= alu.matricula%>?_method=PUT" method="post"> 
                <label for="matricula">Matricula:</label>
                <input type="text" id="matricula" name="matricula" value="<%= alu.matricula %>" disabled="true" />
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" value="<%= alu.nome %>"/>
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" value="<%= alu.email %>"/>
                <label for="data_nascimento">Data de Nascimeno</label>
                <input type="date" name="data_nascimento" id="data_nascimento" value="<%= alu.data_nascimento %>"/>
                <label for="turma">Turma:</label>
                <input type="text" name="turma" id="turma" value="<%= alu.turma %>"/>
                <label for="fone">Telefone:</label>
                <input type="tel" name="fone" id="fone" value="<%= alu.fone %>"/>
                <label for="sexo">M</label>
                <input type="radio" name="sexo" id="sexo" value="M" <%= alu.sexo === 'M' ? 'checked' : '' %>/>
                <label for="sexo">F</label>
                <input type="radio" name="sexo" id="sexo" value="F" <%= alu.sexo === 'F' ? 'checked' : '' %>/>
                <input type="submit" value="Enviar" name="editar"/>
            </form>
        <% }) %>
    <% } else { %>
        <p>Nenhum registro no banco de dados!</p>
    <% } %>
                <button><a href="/alunos/listAllAlunos">Voltar</a></button>

</body>
</html>